.DS_Store
pause

frontend/node_modules/
frontend/dist/
frontend/package.json.md5
frontend/wailsjs/

*.log
*.tmp

.codex/

.agents/
.agent/

# Packaging/build outputs
build/


skills-lock.json
CLAUDE.md
